#page-header {
    height: 100px;
    color: #E25D33;
    background-color: #DCD8CF;
    border-bottom: #E25D33 3px solid;
}

#main-footer{
    height: 100px;
    color: #E25D33;
    background-color: #DCD8CF;
    border-top: #E25D33 3px solid;
}

.myimg{
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    shape-outside: circle();
}

hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

